@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --theme: #120F6C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif !important;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.top_service{
    position: fixed;
    width: 100%;
    top: -3%;
}
.top_service .top_head_img {
    width: 100%;
}
.top_service .head2{
position: absolute;
top: 10%;
z-index: 9;
left: 0;
}
.bottom_service {
    background-color: var(--theme);
    color: #fff;
    padding: 22px;
    height: 155px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: fixed;
    bottom: 0;
    display: flex
;
    flex-direction: column;
    justify-content: end;
}
.splash_screen{
    height: 100vh;
}
.middle_service {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.logo_img{
    position: absolute;
    width: 207px;
    left: 5%;
    top: 38%;

}
.bottom_register_page{
    width: 100%;
    text-align: center;
}
.bottom_register_page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-bottom: 13px;
}

.inp_register {
    border: 1px solid var(--theme);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
    display: flex;
    
}
.inp_register i{
    position: absolute;
    right: 5%;
    font-size: 24px;
    top: 1px;

}
.password_inp{
    width: 80% !important;
}
.inp_register input {
    all: unset;
    width: 83%;
    text-align: start;
}
.login_middle_service{
    height: 100%;
    margin-top: 28%;
}
.login_middle_service h3,
.signupPage_middle_service h3 ,
.otp_service h3{
    margin: 0;
    font-size: 24px;
    margin-bottom: 13px;
    color: var(--theme);
    font-weight: 600;
}
.inp_register_signup_detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 13px;
}

.inp_btn button {
    border: none;
    outline: none;
    background: var(--theme);
    color: #fff;
    padding: 10px 14px;
    width: 160px;
    border-radius: 50px;
}
.dets_page {
    /* margin-top: 13px; */
}
.dets1 label {
    font-size: 14px;
}
.dets1 input {
    width: 11px;
    height: 11px;
    accent-color: var(--theme);
}

.dets_page h5 {
    color: var(--theme);
    font-size: 15px;
    padding-top: 10px;
    /* margin-bottom: 13px; */
}
.dets_page p{
   margin-bottom: 13px;
    font-size: 14px;
}
.inp_register_signup_detail a,
.dets_page p a{
    text-decoration: none;
    color: var(--theme);
    font-weight: 600;
    font-size: 13px;
}
.inp_register img{
    margin-right: 9px;
}
.signupPage_middle_service{
    height: 100%;
    margin-top: 27%;
}
.otp_service{
    margin-top: 28%;
}
.bottom_register_otp_page {
    padding: 14px;
    position: relative;
    top: -87px;
}
.bottom_register_otp_page {
    padding: 14px;
    display: flex
;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.otp_btn button {
    all: unset;
    border: 1px solid var(--theme);
    border-radius: 50px;
    padding: 9px 8px;
    width: 136px;
    margin-bottom: 13px;
}

.btn_otp_submit button {
    all: unset;
    background: var(--theme);
    color: #fff;
    border-radius: 50px;
    padding: 9px 8px;
    width: 136px;
}
.otp_input_page {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.otp_inp input {
    width: 47px;
    height: 43px;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px 0px #33367D4D;
}
.header_otp_page p{
    color: #4B4B4B;

}
.header_otp_page h4 {
    color: var(--theme);
}
.header_otp_page{
    padding: 0 22px;
}
.home_nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 22px;
}
.home_img img{
    width: 190px;
}
.home_loc button{
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
}
.home_loc button p{
    font-size: 13px;
    margin: 0;
    color: gray;
}
.home_loc button i{
    font-size: 14px;
    position: relative;
    top: -2px;
}
.home_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px;
    padding-top: 0;
    gap: 10px;

}
.home_search_inp {
    display: flex;
    align-items: center;
   
}
.home_filter_btn button {
    all: unset;
    padding: 6px 12px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 2px 1px #0000001A;
}
.home_search_inp i{
    position: relative;
    top: -3px;
    font-size: 14px;
}
.home_search_inp {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 2px 1px #0000001A;
    width: 90%;
}
.home_navbar{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #f4f2f2;
    background: #f7f7f7;
}
.home_search_inp input{
    all: unset;
    font-size: 14px;
}
.footer_data {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background: var(--theme);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer_data p {
    font-size: 12px;
    margin: 0;
}
.product_detail_page {
    position: relative;
}
.product_detail_page a{
    color: black;
    font-size: 40px;
    position: absolute;
    top: -5px;
    left: 4%
}

.footer_data img {
    width: 18px;
}
.dot {
    background: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    bottom: 8%;
}
.categories_section_title h3 {
    margin: 0;
    font-size: 22px;
}

.categories_section_title a {
    text-decoration: none;
    margin: 0;
    color: gray;
    font-size: 15px;
}

.categories_section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories_section{
    padding: 12px 22px;
}
.banner_section{
    background: #cdcdcd;
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}
.marginTop{
    margin-top: 6.4rem !important;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    gap: 13px;
    row-gap: 16px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}
.categories_section{
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.categories_data {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    
}
.categories_img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.cat1{
    background: #FFD70033;
    box-shadow: 0px 2px 2px 2px #FFD70040;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    flex-direction: column;
    justify-content: center;
}
.cat1 .categories_img{
    background: #DABA10;
}

.cat2{
    background: #8B5A2B33;
    box-shadow: 0px 2px 2px 2px #8B5A2B40;
    grid-column: 3 / 4;
}

.cat2 .categories_img{
    background: #6B4423;
}

.cat3{
    background: #0047AB33;
    box-shadow: 0px 2px 2px 2px #0047AB40;
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}

.cat3 .categories_img{
    background: #002F5C;
}

.cat4{
    background: #4CAF6E33;
    box-shadow: 0px 2px 2px 2px #4CAF5040;
    grid-column: 3 / 4;
    grid-row: 2 / 7;
    flex-direction: column;
    justify-content: center;
  
}

.cat4 .categories_img{
    background: #45A049;
}

.cat5{
    background: #E6394633;
    box-shadow: 0px 2px 2px 2px #E6394640;
    grid-column: 1 / 3;
    grid-row: 5 /9;
    height: 126px;
    flex-direction: column;
    justify-content: center;
}

.cat5 .categories_img{
    background: #C2185B;
}

.cat6{
    background: #01185933;
    box-shadow: 0px 2px 2px 2px #01185940;
    grid-column: 3 / 3;
    grid-row: 7 / 7;
}

.cat6 .categories_img{
    background: #011859;
}



.categories_title h4 {
    font-size: 16px;
    margin: 0;
}
.category_page {
    padding: 12px 22px;
}
.category_top_main {
    display: flex
    ;
        align-items: center;
        gap: 35px;
     
}
.category_top_main_wrap{
    position: fixed;
    background: #f7f7f7;
    top: 11%;
    width: 100%;
    left: 0;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 35px;
    overflow-x: scroll;
}
.category_top_main::-webkit-scrollbar{
    display: none;
}
.category_box{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.category_box_img,
.AllBtn i{
    padding: 10px;
    width: 53px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background: #d5d4e2;
}
.category_box_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category_txt p{
    font-size: 12px;
    text-transform: capitalize;
    margin: 0;
}
.sub_category_bottom {
    padding: 6rem 0;
}
.sub_category_list a p{
    margin: 0;
}

.category_title h1 {
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: #ffb833b9;
    width: fit-content;
    padding: 9px 19px;
    border-radius: 8px;
    text-transform: capitalize;
}
.sub_category_list {
    display: flex;
padding: 0.71rem 0;
width: 85%;
margin: auto;
}
.product_detail_banner img{
    width: 100%;
    height: 250px;
    height: 350px;
    object-fit: cover;
}
.AllBtn {
    all: unset;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.AllBtn i{
    font-size: 21px;
    color: var(--theme);
}
.AllBtn p{
    font-size: 12px;
    margin: 0;
}
.sub_catgory_img {
    background: #d5d4e2;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background: #d5d4e2;
}
.sub_catgory_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sub_category_list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 11px;
}

.sub_category_list {
    display: flex
;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: space-between;
}
.product_detail_logo {
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px #120F6C33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20%;
    left: 3%;
}
.product_detail_logo img {
    width: 65%;
    height: 65%;
}
.product_detail_data {
    position: relative;
    padding: 12px 22px;
    margin-bottom: 4rem;
}
.product_detail_txt{
    padding-top: 2rem;
}
.product_detail_txt p{
    font-size: 13px;
    margin: 0;
}
.product_detail_txt b{
    font-size: 16px;
}
.price_detail_btn {
    margin-top: 1.1rem;
}
.price_detail_wrap{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 10px;
}
.price_detail_price input{
    width: 15px;
    height: 15px;
    accent-color: var(--theme);
}
.price_detail_price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product_detail_btn{
    margin-top: 2.1rem;
    display: flex;
    justify-content: center;
}
.product_detail_btn button{
    padding: 8px 20px;
    border: none;
    background: var(--theme);
    color: #fff;
    border-radius: 50px;
}
.thankyou_page{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 7.9rem;
}

.thankyou_page h2{
    font-size: 20px;
    margin-top: 1.5rem;
}
.thankyou_page img{
    height: 35rem;
}
.checkout_navbar{
    padding: 12px 22px;
    /* padding: 4px 22px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check_nav a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    position: relative;
    top: -9px;
}
.check_nav_txt h3{
    font-size: 22px;
    margin: 0;
}
.checkout_form_inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.date_inp{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
}
.date_inp input{
    all: unset;
    font-size: 12px;
    position: relative;
    left: 8px;
    width: 97px;
   
    
}
.date_inp h3{
    font-size: 15px;
    margin: 0;
}
.date_inp i{
    font-size: 12px;
    position: relative;
    top: -2px;
}
.checkout_form_data{
    padding: 12px 22px;
}

.checkout_input_txt{
    display: flex
    ;
        align-items: center;
        margin: auto;
        margin-top: 13px;
        border: 1px solid #DFDFDF;
        background-color: #fff;
        border-radius: 10px;
        width: 95%;
}
.input_txt input{
    all: unset;
    padding: 10px;
   
    
}
.input_icon{
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    flex-shrink: 0;
   
}
.input_icon i{
    position: relative;
    top: -5px;
}
.checkout_input_btn {
    display: flex;
    justify-content: center;
    padding: 21px 0;
}

.checkout_input_btn button {
    border: none;
    outline: none;
    background: var(--theme);
    color: #fff;
    padding: 9px 23px;
    border-radius: 50px;
}
.setting_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -24px;
}

.setting_profile i {
    font-size: 60px;
}
.setting_txt_data {
    padding: 10px 28px;
    padding-top: 0;
}
.setting_profile h3 {
    font-size: 20px;
}

.setting_txt_data a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 18px;
    font-size: 17px;
}
.setting_txt_data a i{
    position: relative;
    top: -3px;
}
.setting_txt_data h3{
margin-bottom: 1.1rem;
} 

.setting_txt_data a p {
    margin: 0;
    font-size: 14px;
}
.others_page_div {
    padding: 0 31px;
}
.others_page_div p{
    margin-bottom: 3px;
}
.others_page_div p {
    font-size: 13px;
    padding: 2px 11px;
}
.others_page_div h2 {
    font-size: 17px;
    margin: 0.71rem 0;
}
.heading_modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.heading_modal h2{
    font-size: 18px;
    margin: 0;
}
.location_modal form select{
    width: 100%;
    padding: 10px;
    background-color: var(--theme);
    color: #fff;
}
.price_detail_price label{
    display: flex
    ;
        align-items: center;
        gap: 5px;
}
.price_detail_price label p{
    font-size: 14px;
    margin: 0;
}

.search_result_data p {
    margin: 0;
}

.search_result_data {
    padding: 19px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #c4c4c4;
    background: #DABA1033;

    border-radius: 9px;
    width: 90%;
    text-decoration: none;
    color: inherit;
}
.search_result_data img {
    width: 60px;
    height: 60px;
    /* background-color: #002F5C; */
    background: #120F6C26;
    border-radius: 10px;

    padding: 5px;
}
.search_result {
    display: flex
;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
    padding-top: 0.70rem;
    margin-bottom: 5rem;
}
.search_result_data p {
    margin: 0;
    font-size: 16px;
}
.search_img {
    width: 90px;
    display: flex
;
    justify-content: center;
}
.my_booking_box {
    display: flex
;
    gap: 11px;
    border: 1px solid gray;
    width: 90%;
    margin: auto;
    padding: 9px;
    border-radius: 9px;
    align-items: start;
    position: relative;
    margin-bottom: 10px;
}
.my_booking_info p{
    margin: 0;
    font-size: 12px;
}
.my_booking_btn{
    position: absolute;
    right: 2%;
}
.my_booking_info h4 {
    font-size: 16px;
    margin: 0;
}
.my_booking_btn button{
    padding: 8px 11px;
    background: var(--theme);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10px;

}
.my_booking_info span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
}
.my_booking_info span p{
    font-weight: 400 !important;
}
.my_booking_info b{
    font-size: 14px;
}
.my_booking_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.my_booking_img {
    width: 80px;
    align-self: center;
}
.date_time {
    display: flex;
    gap: 7px;
}
.booking_navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 9;
}
.my_booking_data {
    margin-top: 5.4rem !important;
    margin-bottom: 5rem;
}
.banner_section img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}